
#Willkommen {
    background-image:linear-gradient(90deg, #23A6D5, #919194, #23D5AB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#FarbverlaufH1 {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

html{
    font-size: 13px;
    font-family: Verdana;
}

section{
    width: 100%;
    height: auto;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}


#Farbverlauf1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}


#Farbverlauf2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}


#Farbverlauf3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}


#Hintergrundfarbe1 {
    font-family: Verdana;
    border-collapse: collapse;
    width: 5pt;
    margin-left: 35%;
  }
@media only screen and (max-width: 600px) {
  #Hintergrundfarbe1 {
    margin-left: 25pt;
  }
}

  #Hintergrundfarbe1 td, #Hintergrundfarbe1 th {
    border: 1px solid #ddd;
    padding: 5px;
  }

  #Hintergrundfarbe1 tr:nth-child(even){background-color: #f2f2f2;}

  #Hintergrundfarbe1 tr:hover {background-color: #ddd;}

  #Hintergrundfarbe1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #43A8E5;
    color: rgb(0, 0, 0);
  }


  #Hintergrundfarbe2 {
      font-family: Verdana;
      border-collapse: collapse;
      width: 5pt;
      margin-left: 35%;
    }
  @media only screen and (max-width: 600px) {
    #Hintergrundfarbe2 {
      margin-left: 25pt;
    }
  }

    #Hintergrundfarbe2 td, #Hintergrundfarbe2 th {
      border: 1px solid #ddd;
      padding: 5px;
    }

    #Hintergrundfarbe2 tr:nth-child(even){background-color: #f2f2f2;}

    #Hintergrundfarbe2 tr:hover {background-color: #ddd;}

    #Hintergrundfarbe2 th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #43A8E5;
      color: rgb(0, 0, 0);
    }
